---
import EntryCard from './EntryCard.astro';
import type { EntryModel } from '../../lib/model';


interface Props {
  posts: EntryModel[];
}

const { posts } = Astro.props;

console.log(posts[0].tags)
---
<div>
	<h4 class="heading">Entry</h4>
	<ul>
	{
		posts.map((post) => (
			<li>
				<EntryCard slug={post.id} title={post.title} pubDate={post.createdAt} tags={post.tags}/>
			</li>
		))
	}
	</ul>
</div>
<style>

	ul {
		display: flex;
		flex-direction: column;
		gap: 2rem 0;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.heading {
		margin-bottom: 40px;
		border-bottom: 1.5px solid #999999;
		width: 92%;
		padding: 5px;
		font-family: 'Anta';
		font-size: 2em;
	}
	
	@media (max-width: 720px) {
		ul li {
			width: 100%;
		}
		.heading {
			width: 92%;
		}
	}
</style>