---
import type { MarkdownHeading } from "astro";

interface Props {
	headings: { text: any; id: any; name: any }[];
}

const { headings } = Astro.props;
---

<div class="toc">
	<h4>Agenda</h4>
	<ol>
		{
			headings.map((h) => {
				if (h.name === "h4") {
					return (
						<ol>
							<li class={`toc-level-2 toc-item`}>
								<a href={`#${h.id}`}>{h.text}</a>
							</li>
						</ol>
					);
				} else {
					return (
						<li class={`toc-level-1 toc-item`}>
							<a href={`#${h.id}`}>{h.text}</a>
						</li>
					);
				}
			})
		}
	</ol>
</div>

<style>
	h4 {
		font-family: "Anta";
		font-size: 1.5em;
	}

	.toc {
		padding: 7%;
		margin: 10% 5%;
		border: 1px solid #ddd;
		border-radius: 5px;
		text-wrap: wrap;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	.toc ol {
		padding-left: 3px;
		gap: 0.4rem;
		display: flex;
		flex-direction: column;
	}

	.toc ol li {
		list-style-position: inside;
	}

	.toc-item a {
		font-family: "MPlusRounded";
		text-decoration: none;
		font-size: 14px;
		padding: 3px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
	}

	.toc-item a:hover {
		background-color: #d0d0d0;
	}

	.toc-level-1 {
		font-weight: bold;
	}

	.toc-level-2 {
		list-style-type: none;
		margin-left: 5%;
	}

	.toc-level-2::before {
		content: "-";
	}
</style>
