---
import type { MarkdownHeading } from "astro";
import Agenda from "./Agenda.astro";
import Profile from "./Profile.astro";

interface Props {
	headings: MarkdownHeading[],
} 

const { headings } = Astro.props;
---
<div class="menu-section">
	<Profile />
	{(headings.length > 0) && <Agenda headings={headings}/> }
</div>

<style>
	.menu-section {
		width: 100%;
		display: block;
	}

	@media (max-width: 720px) {
		.menu-section {
			display: none;
		}
	}
</style>
