---
import Latest from './Latest.astro';
import Profile from './Profile.astro';
import TagList from './TagList.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('entry')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<div class="menu-section">
	<Profile />
	<TagList posts={posts}/>
	<Latest />
</div>

<style>
	.menu-section {
		width: 100%;
	}

	@media (max-width: 720px) {
		.menu-section {
			display: none;
		}
	}
</style>
