---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Menu from '../components/menu/Menu.astro';
import Entry from '../components/entry/Entry.astro';

const posts = (await getCollection('entry')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 1080px;
			}

			.description{
				display: flex;
				justify-content: center;
				margin: 3em 0;
			}

			.contents{
				display: grid;
				grid-template-columns: 7fr 3fr;
			}

			@media (max-width: 720px) {
				.contents{
					display: inline;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<div class="description">{SITE_DESCRIPTION}</div>
				<div class="contents">
					<Entry/>
					<Menu/>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
