---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/menu/Menu.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<div class="description">{description}</div>
				<div class="contents">
					<div class="entry">
						<slot />
					</div>
					<div class="aside">
						<Menu/>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 1080px;
	}

	.description {
		display: flex;
		justify-content: center;
		margin: 3em 0;
		font-size: 1.5em;
	}
	.contents {
		display: flex;
		justify-content: space-between;
	}

	.entry {
		width: calc(100% - 300px);
	}

	.aside {
		width: 280px;
	}

	@media (max-width: 768px) {
		.description {
			font-size: 1rem;
		}
		.entry {
			width: 100%;
		}

		.aside {
			display: none;
		}
	}
</style>